body {
    justify-content: center;
    display: flex;
    background-color: rgb(185, 240, 238);
    height: 100%;
    width: 100%;

}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.7em 0.7em 6em 0.7em;
    background-color: rgb(253, 242, 242);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.685);
    border: 2px solid grey;
    height: 44.5em  ;
    width: 28em;
}

.directionalPad1 {
    background-color: black;
    border-radius: 0.5em;
    height: 6em;
    width: 2em;

}

.directionalPad2 {
    background-color: black;
    border-radius: 0.5em;
    height: 2em;
    width: 6em;
}

.nintendoImg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    height: 2em;
    width: 100%;
}

.nintendoImg > span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: blue;
    font-size: 0.7em;
    margin-top: 1.5em;
}

.power {
    display: flex;
    background-color: rgba(139, 139, 139, 0.658);
    flex-direction: column;
    height: 77%;
    width: 16%;
    border-radius: 1em 1em 1em 1em;
    margin-right: 71%;
    
}

.textPower {
    font-family: Arial, Helvetica, sans-serif;
    color :rgb(218, 216, 216);
    font-size: 0.6em;
    padding-top: 3%;
}


.topColumns {
    display: flex;
    flex-direction: row;
    height: 3%;
    width: 100%;
    justify-content: space-between;
}

.columnBar1 {
    background-color: rgba(139, 139, 139, 0.658);
    width: 0.5%;
    height: 100%;
    margin-left: 5%;
}

.columnBar2 {
    background-color:rgba(139, 139, 139, 0.658);
    width: 0.5%;
    height: 100%;
    margin-right: 5%;

}

.rowBar1 {
    background-color: rgba(139, 139, 139, 0.658);
    flex-direction: row;
    width: 100%;
    height: 0.3%;
} 

.screenBackground {
    background-color: rgb(139, 139, 139);
    border: 3px solid rgb(107, 107, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    border-radius: 1em 1em 4em 1em;
    height: 43%;
    width: 85%;
}

.screenBox {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.batteryBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-bottom: 30%;

}

.greenScreen {
    background-color: rgb(219, 240, 102);
    border: 0.2em solid rgb(105, 105, 105);
    border-top: 3px solid rgba(0, 0, 0, 0.644);
    border-left: 5px solid rgba(0, 0, 0, 0.582);
    position: relative;
    height: 80%;
    width: 70%;
    margin-top: 3%;
    margin-left: 1%;
}

.battery {
    background-color: red;
    border-radius: 50%;
    height: 0.6em;
    width: 0.6em;
}

.textBattery  {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(196, 196, 196);
    font-size: 0.6em;
}

.screenTop {
    margin-left: 4%;
    margin-top: 2%;
    flex-direction: row;
    display: flex;
    height: 1.2em;
    width: 100%;
}

.textLine {
    padding: 0 0.3em;
    font-size: 0.8em;
    color: rgb(196, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
}

.line1 {
    position: relative;
    background-color: #7c0b5a;
    box-shadow: 0 0.5em 0 #2828d4;
    height: 0.23em;
    width: 6em;
}

.line2 {
    position: relative;
    background-color: #7c0b5a;
    box-shadow: 0 0.5em 0 #2828d4;
    height: 0.23em;
    width: 2.5em;

}